
<div class="flex items-center justify-center p-4">
    <button id="dropdownDefault" data-dropdown-toggle="dropdown"
      class="border-2 shadow-xl text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
      type="button">
      Advance Search
      <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
      </svg>
    </button>

    <!-- Dropdown menu -->
    <div id="dropdown" class="z-10 hidden p-3 bg-white rounded-lg shadow dark:bg-gray-700">
      <div class="flex">
        <!-- state -->
        <div>
          <h6 class="mb-3 text-sm font-medium text-gray-900 dark:text-white">
            Select State
          </h6>
          <ul class="space-y-2 text-sm" aria-labelledby="dropdownDefault">
            <% get_states.each do |state| %>
              <li class="flex items-center">
                <input id="<%= state.gsub(' ', '-') %>" type="checkbox" value="" name="<%= state %>"
                  class="state-name w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />

                <label for="<%= state.gsub(' ', '-') %>" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">
                  <%= state %>
                </label>
            <% end %>

            </li>
          </ul>
        </div>
        <!-- sector -->
        <div>
          <h6 class="mb-3 text-sm font-medium text-gray-900 dark:text-white">
            Select Sector
          </h6>
          <ul class="space-y-2 text-sm" aria-labelledby="dropdownDefault">
            <% get_sectors.each do |sector| %>
              <li class="flex items-center">
                <input id="<%= sector.gsub(' ', '-') %>" type="checkbox" value="" name="<%= sector %>"
                  class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />

                <label for="<%= sector.gsub(' ', '-') %>" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">
                  <%= sector %>
                </label>
            <% end %>

            </li>
          </ul>
        </div>
        <!-- tender value -->
        <div>
          <h6 class="mb-3 text-sm font-medium text-gray-900 dark:text-white">
            Select Tender Value
          </h6>
          <ul class="space-y-2 text-sm" aria-labelledby="dropdownDefault">
              <li class="flex flex-col items-center space-y-2">
                <label for="tender-value" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">
                  Tender Value
                </label>

                <input id="tender-value-min" placeholder="min" type="number" value=""
                  class="w-24 h-8 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />
                <!-- <div class="pt-4"></div> -->

                <input id="tender-value-max" placeholder="max" type="number" value=""
                  class="w-24 h-8 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />
                <div>
                  <!-- <button class="bg-orange-700 px-4 py-2">a</button> -->
                  <button
                  type="submit"
                  id="filter-search"
                  class="right-2.5 bottom-2.5 rounded-lg bg-orange-700 px-4 py-2 text-sm font-medium text-white hover:bg-orange-800 focus:outline-none focus:ring-4 focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800"
                >
                  Search
                </button>
              </div>
              </li>
              <li>

              </li>

            </ul>
        </div>
      </div>

    </div>


  </div>
