<% title "Home" %>
<% description "sigmatenders.com is a tender portal specifically designed for independent entrepreneurs/ Business houses/ industries and  non-government organizations (NGOs) to get Realtime notifications of potential opportunities for their enterprise" %>
<% keywords "tenders" %>
<%= render 'layouts/navbar' %>
<% if flash[:notice].present? %>
  <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
    <span class="font-medium">
      <%= flash[:notice] %>
    </span>
  </div>
<% end %>

<!--    content -->
<div class=" flex flex-col items-center pt-14 h-96 object-cover bg-no-repeat bg-bottom" style="background-image: url(<%= image_path 'bg.jpg' %>);">
  <h1 class="text-center text-4xl text-gray-100">Discovering the best Tenders for your business needs</h1>
  <!--    search-->
  <form class="mt-12 sm:w-96" action="<%= search_path %>" id="search-form">
    <label
      for="search"
      class="sr-only mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >Search</label
    >
    <div class="relative">
      <div
        class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
      >
        <svg
          aria-hidden="true"
          class="h-5 w-5 text-gray-500 dark:text-gray-400"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          ></path>
        </svg>
      </div>
      <input
        type="search"
        name="q"
        id="main-search"
        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-4 pl-10 text-sm text-gray-900 focus:border-orange-500 focus:ring-orange-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-orange-500 dark:focus:ring-orange-500"
        placeholder="Search Tender..."
        required
        />
      <button
        type="submit"
        id="main-search-btn"
        class="absolute right-2.5 bottom-2.5 rounded-lg bg-orange-700 px-4 py-2 text-sm font-medium text-white hover:bg-orange-800 focus:outline-none focus:ring-4 focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800"
      >
        Search
      </button>
    </div>
  </form>
  <!-- filter -->
  <%= render "tender_filter" %>
  <div class="text-gray-100 text-lg px-4 py-3">
    Our Team Collects, Compiles, and Uploads Thousands of Tenders Daily ⭐
    Your Gateway of Opportunities to Access more than 1 Lakh active Tenders
  </div>
</div>

<!-- p2 trending tenders -->
<!--  <div class="bg-red-800 h-7 overflow-hidden">-->
<!--    <p class="moving-text text-gray-100">Trending Tenders for Independent Entrepreneurs, Businesses, Industries, Schools, Colleges, Institutions, Universities, NGOs, Traders, Suppliers, Professionals &  Government Organizations</p>-->
<!--  </div>-->

<marquee class="bg-red-800 h-8 mb-[-6px]" direction="right">
  <p class="text-gray-100">Trending Tenders for Independent Entrepreneurs, Businesses, Industries, Schools, Colleges,
    Institutions, Universities, NGOs, Traders, Suppliers, Professionals & Government Organizations</p></marquee>
<marquee class="bg-red-800 h-8">
  <p class="text-gray-100">Trending Tenders for Independent Entrepreneurs, Businesses, Industries, Schools, Colleges,
    Institutions, Universities, NGOs, Traders, Suppliers, Professionals & Government Organizations</p></marquee>

<div>
  <%= render "tenders/shared/diwali_offer" %>
</div>

<div class="md:grid md:grid-cols-3 pt-12 px-12 mx-auto max-w-7xl">
  <div class="md:col-span-2">

    <!-- <h4 class="text-lg font-bold flex justify-center pb-4 ml7"><span class="text-wrapper"><span class="letters">Trending Tenders of the Day (<%= DateTime.now.strftime("%d/%m/%Y") %>)</span></span></h4> -->
    <h4 class="mx-auto mb-6 font-bold text-red-800 rounded-lg tlt text-lg font- flex justify-center ml7 w-fit px-4" style="">
      <ul class="texts">
        <li data-out-effect="fadeOut" data-out-shuffle="true">Trending Tenders of the Day
          (<%= DateTime.now.strftime("%d/%m/%Y") %>)
        </li>
        <!-- <li data-in-effect="fadeIn">Trending Tenders of the Day (<%= DateTime.now.strftime("%d/%m/%Y %H:%M") %>)</li> -->
      </ul>
    </h4>

    <div class="md:grid md:grid-cols-3 flex flex-col items-center space-y-1">
      <% @todays_tender.each do |keyword| %>
        <div class="h-full p-2">
          <a
            href="<%= keyword == 'More' ? trending_tenders_path : keyword_tender_path(keyword: keyword.gsub(' ', '-')) %>"
            class="w-full md:h-full inline-flex items-center rounded-lg bg-orange-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-orange-800 focus:outline-none focus:ring-4 focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800"
          >
            <%= keyword.humanize %>
            <svg
              aria-hidden="true"
              class="ml-2 -mr-1 h-4 w-4"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>
        </div>
      <% end %>
    </div>
    <!--    arrow-->
    <svg class="w-10 mx-auto mt-6 text-orange-600" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3"></path>
    </svg>

    <a class="btn-sm block w-fit mx-auto mt-6" href="<%= trending_tenders_path %>">View More Tenders</a>

    <div class="px-12 mx-auto max-w-6xl mt-20" id="why_us">
      <div class="flex justify-center items-center">
        <img src="<%= image_path 'Asset_1.svg' %>" class="h-6 mr-3 sm:h-9" alt="Sigma Tenders Logo"/>
        <h4 class="text-3xl font-bold">Why Choose Us</h4>
      </div>
      <div class="flex mt-8 justify-center">
        <p>Focussed & Targeted </p>
        <svg class="w-6 mx-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
        </svg>
        <p> Maximizing Your Tender Success</p>
      </div>

      <ul class="space-y-4 mt-6">
        <li>
          <div class="icon">
            <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z"></path>
            </svg>
          </div>
          <p>Access to most of the Request for Proposal (RFP), Expression of Interest Proposals (EOI), Empanelment
            notifications, Request for Quote (RFQ), Invitation to Bid (ITB), Purchase Order (PO), Service Contract
            Notifications and other government contracts</p>
        </li>
        <li>
          <div class="icon">
            <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008z"></path>
            </svg>
          </div>
          <p>Business growth opportunities: we offer entrepreneurs the opportunity to grow their business by bidding on
            and
            winning contracts from various organizations.</p>
        </li>
        <li>
          <div class="icon">
            <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155"></path>
            </svg>
          </div>

          <p>Networking opportunities: we offer and facilitate entrepreneurs to network with other businesses and
            government agencies, which can lead to new business partnerships and opportunities.</p>
        </li>
        <li>
          <div class="icon">
            <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 8.25H9m6 3H9m3 6l-3-3h1.5a3 3 0 100-6M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
          </div>

          <p>Cost savings: sigmatenders.com saves entrepreneurs time and money by providing them with a streamlined
            window
            and various search options for finding matching tenders for bidding on contracts.</p>
        </li>
        <li>
          <div class="icon">
            <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
          </div>
          <p>Time to time and regular updates of the business ecosystem and government offers and initiatives for the
            entrepreneurs.</p>
        </li>
      </ul>
    </div>

  </div>
  <div class="md:col-span-1 space-y-2 md:pl-6">
    <div class="text-gray-700 text-xl font-bold text-center mb-6">Find Tenders by Categories</div>
    <a class="text-lg block hover:underline hover:underline-offset-2 bg-orange-300 rounded-md py-1 px-3" href="<%= tender_main_category_path %>">⭐
      Tender
      Categories</a>

    <a class="text-lg block hover:underline hover:underline-offset-2 bg-orange-300 rounded-md py-1 px-3" href="<%= tender_category_by_city_path %>">⭐
      Tender by City</a>
    <a class="text-lg block hover:underline hover:underline-offset-2 bg-orange-300 rounded-md py-1 px-3" href="<%= tender_category_by_state_path %>">⭐
      Tender by State</a>
    <!--      <a class="text-lg block hover:underline hover:underline-offset-2" href="<%#= tender_category_by_organization_path %>">⭐ </a>-->
    <a class="text-lg block hover:underline hover:underline-offset-2 bg-orange-300 rounded-md py-1 px-3" href="<%= tender_category_by_sector_path %>">⭐
      Tender by Sector</a>
    <a class="text-lg block hover:underline hover:underline-offset-2 bg-orange-300 rounded-md py-1 px-3" href="<%= tender_by_organisation_path %>">⭐
      Tender by Organisation</a>
    <a class="text-lg block hover:underline hover:underline-offset-2 bg-orange-300 rounded-md py-1 px-3" href="<%= tender_by_products_path %>">⭐
      Tender by Products</a>
    <a class="text-lg block hover:underline hover:underline-offset-2 bg-orange-600 text-white px-4 py-2 rounded-md" href="<%= how_to_file_tender_path %>">⭐
      How to file tender?</a>

    <%= render "get_relevant_tenders_form" %>

  </div>
  <!--  <div class="mt-6">-->
  <!--    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfj0rlhPDSH5hlU-w3gXoOX259e3Vw-XVRbz6LO7a8EE6C8SA/viewform?embedded=true" width="600" height="1250" class="border-0 overflow-hidden relative" style="margin-left: -22px" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>-->
  <!--  </div>-->
  <!--  <div class="flex items-center w-full col-span-2 justify-center mt-8">-->
  <!--    <a href="https://docs.google.com/forms/d/1sk835o7uoufAuJyMvAg7g60fzNoG2qeFZmuBXgf_xIo/viewform" target="_blank" class="inline-block underline underline-offset-2 px-3 py-4 text-white bg-orange-400 rounded-lg">Contact-->
  <!--      Us</a>-->
  <!--    <p class="text-green-600 mx-6 text-xl">Avail the Free Offer Now</p>-->
  <!--    <div class="mx-4">-->
  <!--      <svg class="w-10 text-orange-600" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">-->
  <!--        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>-->
  <!--      </svg>-->
  <!--    </div>-->
  <!--    <a href="https://docs.google.com/forms/d/e/1FAIpQLSc2lhMglZhxl7xI_TL6V4PYLwRGqcOVnRGTpCOtk5hokEsGNA/viewform" target="_blank" class="inline-block underline underline-offset-2 px-3 py-4 text-white bg-orange-400 rounded-lg">Free-->
  <!--      Trial Subscribers</a>-->
  <!--  </div>-->


</div>

<div class="flex flex-col items-center w-full py-16 mt-8" style="background-image: url('<%= image_path "bg-2.png" %>');background-repeat: no-repeat;background-size: 100% 100%;">
  <div class="backdrop-blur-lg bg-white/30">
    <%= render "tenders/shared/cheklist_download" %>
  </div>
</div>

<div>
  <div class="py-12 container">

    <!--    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">-->
    <!--    </div>-->

    <h1 class="text-4xl font-bold text-center mb-8 text-orange-500">Most Searched Tender Categories</h1>

    <!--    <table class="table-fixed sm:table-auto w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 rounded-t-lg overflow-hidden">-->
    <!--      <thead>-->
    <!--      <tr class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">-->
    <!--        <th class="px-4 py-2">Category</th>-->
    <!--        <th class="px-4 py-2">Search Link</th>-->
    <!--        <th class="px-4 py-2">Download Button</th>-->
    <!--        <th class="px-4 py-2">WhatsApp Channel</th>-->
    <!--      </tr>-->
    <!--      </thead>-->
    <!--      <tbody>-->
    <!--      <tr class="border-b">-->
    <!--        <td class="px-4 py-2">Construction & Infrastructure</td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="https://sigmatenders.com/search?q=Construction+and+Infrastructure" class="text-blue-500 hover:text-blue-700">Search</a>-->
    <!--        </td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download-->
    <!--            Now - Construction Toolkit</a></td>-->
    <!--        <td class="px-4 py-2"><a href="#" class="text-green-500 hover:text-green-700">Join WhatsApp Channel</a></td>-->
    <!--      </tr>-->
    <!--      <tr class="border-b">-->
    <!--        <td class="px-4 py-2">Manpower Supply</td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="https://sigmatenders.com/tenders/Manpower-supply-tenders" class="text-blue-500 hover:text-blue-700">Search</a>-->
    <!--        </td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download-->
    <!--            Now - Manpower Toolkit</a></td>-->
    <!--        <td class="px-4 py-2"><a href="#" class="text-green-500 hover:text-green-700">Join WhatsApp Channel</a></td>-->
    <!--      </tr>-->
    <!--      <tr class="border-b">-->
    <!--        <td class="px-4 py-2">Website & Software Development</td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="https://sigmatenders.com/search?q=Website+Development" class="text-blue-500 hover:text-blue-700">Search</a>-->
    <!--        </td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download-->
    <!--            Now - Software & Web Dev Toolkit</a></td>-->
    <!--        <td class="px-4 py-2"><a href="#" class="text-green-500 hover:text-green-700">Join WhatsApp Channel</a></td>-->
    <!--      </tr>-->
    <!--      <tr class="border-b">-->
    <!--        <td class="px-4 py-2">Skill Development & Training</td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="https://sigmatenders.com/search?q=Skill+Development+and+Training" class="text-blue-500 hover:text-blue-700">Search</a>-->
    <!--        </td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download-->
    <!--            Now - Skill Development Toolkit</a></td>-->
    <!--        <td class="px-4 py-2"><a href="#" class="text-green-500 hover:text-green-700">Join WhatsApp Channel</a></td>-->
    <!--      </tr>-->
    <!--      <tr class="border-b">-->
    <!--        <td class="px-4 py-2">NGO Services</td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="https://sigmatenders.com/search?q=Ngo+Services" class="text-blue-500 hover:text-blue-700">Search</a>-->
    <!--        </td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download-->
    <!--            Now - NGO Services Toolkit</a></td>-->
    <!--        <td class="px-4 py-2"><a href="#" class="text-green-500 hover:text-green-700">Join WhatsApp Channel</a></td>-->
    <!--      </tr>-->
    <!--      <tr class="border-b">-->
    <!--        <td class="px-4 py-2">Legal & Secretarial</td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="https://sigmatenders.com/search?q=Legal+Services" class="text-blue-500 hover:text-blue-700">Search</a>-->
    <!--        </td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download-->
    <!--            Now - Legal Services Toolkit</a></td>-->
    <!--        <td class="px-4 py-2"><a href="#" class="text-green-500 hover:text-green-700">Join WhatsApp Channel</a></td>-->
    <!--      </tr>-->
    <!--      <tr class="border-b">-->
    <!--        <td class="px-4 py-2">Manufacturing & Production</td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="https://sigmatenders.com/search?q=Manufacturing" class="text-blue-500 hover:text-blue-700">Search</a>-->
    <!--        </td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download-->
    <!--            Now - Manufacturing Toolkit</a></td>-->
    <!--        <td class="px-4 py-2"><a href="#" class="text-green-500 hover:text-green-700">Join WhatsApp Channel</a></td>-->
    <!--      </tr>-->
    <!--      <tr class="border-b">-->
    <!--        <td class="px-4 py-2">Electrical Supply</td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="https://sigmatenders.com/search?q=Electricals+supply" class="text-blue-500 hover:text-blue-700">Search</a>-->
    <!--        </td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download-->
    <!--            Now - Electrical Supply Toolkit</a></td>-->
    <!--        <td class="px-4 py-2"><a href="#" class="text-green-500 hover:text-green-700">Join WhatsApp Channel</a></td>-->
    <!--      </tr>-->
    <!--      <tr class="border-b">-->
    <!--        <td class="px-4 py-2">Garden Maintenance & Horticulture</td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="https://sigmatenders.com/search?q=Garden+maintenance+and+horticulture" class="text-blue-500 hover:text-blue-700">Search</a>-->
    <!--        </td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download-->
    <!--            Now - Horticulture Toolkit</a></td>-->
    <!--        <td class="px-4 py-2"><a href="#" class="text-green-500 hover:text-green-700">Join WhatsApp Channel</a></td>-->
    <!--      </tr>-->
    <!--      <tr class="border-b">-->
    <!--        <td class="px-4 py-2">Vehicles, Logistics & Transportation</td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="https://sigmatenders.com/search?q=vehicle+hire" class="text-blue-500 hover:text-blue-700">Search</a>-->
    <!--        </td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download-->
    <!--            Now - Transportation Toolkit</a></td>-->
    <!--        <td class="px-4 py-2"><a href="#" class="text-green-500 hover:text-green-700">Join WhatsApp Channel</a></td>-->
    <!--      </tr>-->
    <!--      <tr class="border-b">-->
    <!--        <td class="px-4 py-2">Catering Services</td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="https://sigmatenders.com/search?q=Catering+services" class="text-blue-500 hover:text-blue-700">Search</a>-->
    <!--        </td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download-->
    <!--            Now - Catering Toolkit</a></td>-->
    <!--        <td class="px-4 py-2"><a href="#" class="text-green-500 hover:text-green-700">Join WhatsApp Channel</a></td>-->
    <!--      </tr>-->
    <!--      <tr class="border-b">-->
    <!--        <td class="px-4 py-2">Audit Firm</td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="https://sigmatenders.com/search?q=AUDIT+FIRM" class="text-blue-500 hover:text-blue-700">Search</a>-->
    <!--        </td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download-->
    <!--            Now - Audit Firm Toolkit</a></td>-->
    <!--        <td class="px-4 py-2"><a href="#" class="text-green-500 hover:text-green-700">Join WhatsApp Channel</a></td>-->
    <!--      </tr>-->
    <!--      <tr class="border-b">-->
    <!--        <td class="px-4 py-2">Security Services</td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="https://sigmatenders.com/tenders/Security-Services-tenders" class="text-blue-500 hover:text-blue-700">Search</a>-->
    <!--        </td>-->
    <!--        <td class="px-4 py-2">-->
    <!--          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download-->
    <!--            Now - Security Services Toolkit</a></td>-->
    <!--        <td class="px-4 py-2"><a href="#" class="text-green-500 hover:text-green-700">Join WhatsApp Channel</a></td>-->
    <!--      </tr>-->

    <!--      </tbody>-->
    <!--    </table>-->

    <table class="table-fixed sm:table-auto w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 rounded-t-lg overflow-hidden">
      <thead>
      <tr class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <th class="px-4 py-2">Category</th>
        <th class="px-4 py-2">Search Link</th>
        <th class="px-4 py-2">Download Button</th>
        <th class="px-4 py-2">WhatsApp Channel</th>
      </tr>
      </thead>
      <tbody>
      <tr class="border-b">
        <td class="px-4 py-2">Construction & Infrastructure</td>
        <td class="px-4 py-2">
          <a href="https://sigmatenders.com/search?q=Construction+and+Infrastructure" class="text-blue-500 hover:text-blue-700">Search</a>
        </td>
        <td class="px-4 py-2">
          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download
            Now - Construction Toolkit</a></td>
        <td class="px-4 py-2">
          <a href="https://whatsapp.com/channel/0029Vabjzrx42Dck1E0Mhp32" class="text-green-500 hover:text-green-700">Join
            WhatsApp Channel</a></td>
      </tr>
      <tr class="border-b">
        <td class="px-4 py-2">Manpower Supply</td>
        <td class="px-4 py-2">
          <a href="https://sigmatenders.com/tenders/Manpower-supply-tenders" class="text-blue-500 hover:text-blue-700">Search</a>
        </td>
        <td class="px-4 py-2">
          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download
            Now - Manpower Toolkit</a></td>
        <td class="px-4 py-2">
          <a href="https://whatsapp.com/channel/0029VacF6luB4hdaNjBFyu2F" class="text-green-500 hover:text-green-700">Join
            WhatsApp Channel</a></td>
      </tr>
      <tr class="border-b">
        <td class="px-4 py-2">Website & Software Development</td>
        <td class="px-4 py-2">
          <a href="https://sigmatenders.com/search?q=Website+Development" class="text-blue-500 hover:text-blue-700">Search</a>
        </td>
        <td class="px-4 py-2">
          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download
            Now - Software & Web Dev Toolkit</a></td>
        <td class="px-4 py-2">
          <a href="https://whatsapp.com/channel/0029VagOEKGB4hdRuvnhjr0J" class="text-green-500 hover:text-green-700">Join
            WhatsApp Channel</a></td>
      </tr>
      <tr class="border-b">
        <td class="px-4 py-2">Skill Development & Training</td>
        <td class="px-4 py-2">
          <a href="https://sigmatenders.com/search?q=Skill+Development+and+Training" class="text-blue-500 hover:text-blue-700">Search</a>
        </td>
        <td class="px-4 py-2">
          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download
            Now - Skill Development Toolkit</a></td>
        <td class="px-4 py-2">
          <a href="https://whatsapp.com/channel/0029VagPRNOA2pLGgVWi4y0g" class="text-green-500 hover:text-green-700">Join
            WhatsApp Channel</a></td>
      </tr>
      <tr class="border-b">
        <td class="px-4 py-2">NGO Services</td>
        <td class="px-4 py-2">
          <a href="https://sigmatenders.com/search?q=Ngo+Services" class="text-blue-500 hover:text-blue-700">Search</a>
        </td>
        <td class="px-4 py-2">
          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download
            Now - NGO Services Toolkit</a></td>
        <td class="px-4 py-2">
          <a href="https://whatsapp.com/channel/0029VabvWIx9RZATaGpPLC1O" class="text-green-500 hover:text-green-700">Join
            WhatsApp Channel</a></td>
      </tr>
      <tr class="border-b">
        <td class="px-4 py-2">Legal & Secretarial</td>
        <td class="px-4 py-2">
          <a href="https://sigmatenders.com/search?q=Legal+Services" class="text-blue-500 hover:text-blue-700">Search</a>
        </td>
        <td class="px-4 py-2">
          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download
            Now - Legal Services Toolkit</a></td>
        <td class="px-4 py-2">
          <a href="https://whatsapp.com/channel/0029VafrOlXJENy3yqRnjz2f" class="text-green-500 hover:text-green-700">Join
            WhatsApp Channel</a></td>
      </tr>
      <tr class="border-b">
        <td class="px-4 py-2">Manufacturing & Production</td>
        <td class="px-4 py-2">
          <a href="https://sigmatenders.com/search?q=Manufacturing" class="text-blue-500 hover:text-blue-700">Search</a>
        </td>
        <td class="px-4 py-2">
          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download
            Now - Manufacturing Toolkit</a></td>
        <td class="px-4 py-2">
          <a href="https://whatsapp.com/channel/0029Vabew8fKGGGO64RL6X2f" class="text-green-500 hover:text-green-700">Join
            WhatsApp Channel</a></td>
      </tr>
      <tr class="border-b">
        <td class="px-4 py-2">Electrical Supply</td>
        <td class="px-4 py-2">
          <a href="https://sigmatenders.com/search?q=Electricals+supply" class="text-blue-500 hover:text-blue-700">Search</a>
        </td>
        <td class="px-4 py-2">
          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download
            Now - Electrical Supply Toolkit</a></td>
        <td class="px-4 py-2">
          <a href="https://whatsapp.com/channel/0029Vafo0R1DjiOVDEMLvX0m" class="text-green-500 hover:text-green-700">Join
            WhatsApp Channel</a></td>
      </tr>
      <tr class="border-b">
        <td class="px-4 py-2">Garden Maintenance & Horticulture</td>
        <td class="px-4 py-2">
          <a href="https://sigmatenders.com/search?q=Garden+maintenance+and+horticulture" class="text-blue-500 hover:text-blue-700">Search</a>
        </td>
        <td class="px-4 py-2">
          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download
            Now - Horticulture Toolkit</a></td>
        <td class="px-4 py-2">
          <a href="https://whatsapp.com/channel/0029VabFBwPICVfojc4IWp2P" class="text-green-500 hover:text-green-700">Join
            WhatsApp Channel</a></td>
      </tr>
      <tr class="border-b">
        <td class="px-4 py-2">Vehicles, Logistics & Transportation</td>
        <td class="px-4 py-2">
          <a href="https://sigmatenders.com/search?q=vehicle+hire" class="text-blue-500 hover:text-blue-700">Search</a>
        </td>
        <td class="px-4 py-2">
          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download
            Now - Transportation Toolkit</a></td>
        <td class="px-4 py-2">
          <a href="https://whatsapp.com/channel/0029VabYH1y5EjxtCfzB7r26" class="text-green-500 hover:text-green-700">Join
            WhatsApp Channel</a></td>
      </tr>
      <tr class="border-b">
        <td class="px-4 py-2">Catering Services</td>
        <td class="px-4 py-2">
          <a href="https://sigmatenders.com/search?q=Catering+services" class="text-blue-500 hover:text-blue-700">Search</a>
        </td>
        <td class="px-4 py-2">
          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download
            Now - Catering Toolkit</a></td>
        <td class="px-4 py-2">
          <a href="https://whatsapp.com/channel/0029VabmLqL3LdQRgzc9yI2W" class="text-green-500 hover:text-green-700">Join
            WhatsApp Channel</a></td>
      </tr>
      <tr class="border-b">
        <td class="px-4 py-2">Audit Firm</td>
        <td class="px-4 py-2">
          <a href="https://sigmatenders.com/search?q=AUDIT+FIRM" class="text-blue-500 hover:text-blue-700">Search</a>
        </td>
        <td class="px-4 py-2">
          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download
            Now - Audit Firm Toolkit</a></td>
        <td class="px-4 py-2">
          <a href="https://whatsapp.com/channel/0029VabvLLmLI8Ye1Gr5pH39" class="text-green-500 hover:text-green-700">Join
            WhatsApp Channel</a></td>
      </tr>
      <!--      <tr class="border-b">-->
      <!--        <td class="px-4 py-2">Security Services</td>-->
      <!--        <td class="px-4 py-2">-->
      <!--          <a href="https://sigmatenders.com/tenders/Security-Services-tenders" class="text-blue-500 hover:text-blue-700">Search</a>-->
      <!--        </td>-->
      <!--        <td class="px-4 py-2">-->
      <!--          <a href="/#download-checklist" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download-->
      <!--            Now - Security Services Toolkit</a></td>-->
      <!--        <td class="px-4 py-2"><a href="#" class="text-green-500 hover:text-green-700">Join WhatsApp Channel</a></td>-->
      <!--      </tr>-->

      </tbody>
    </table>

  </div>
</div>

<!--    p2-->
<div class="container prose">
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSe5kcwaWpsRDn_1M9nOP-dp-_sLqgwDIjR4B8_SL61W3Il4ag/viewform" target="_blank" class="btn-primary underline-offset-2 hover:underline-offset-4">Business
    Connectivity Inquiry Form</a>
</div>

<%= render 'layouts/footer' %>
