<% title "Home" %>
<% description "NGOtenders.in is a tender portal specifically designed for independent entrepreneurs/ Business houses/ industries and  non-government organizations (NGOs) to get Realtime notifications of potential opportunities for their enterprise" %>
<% keywords "ngo tenders, ngo service tenders" %>

<%= render 'layouts/navbar' %>

<!--    content -->
<div class=" flex flex-col items-center pt-20 h-96 object-cover bg-no-repeat bg-bottom" style="background-image: url(<%= image_path 'bg.jpg' %>);">
  <h1 class="text-center text-4xl text-gray-200">NGO Tenders</h1>
  <!--    search-->
  <form class="mt-12 w-96" action="<%= search_path %>">
    <label
      for="search"
      class="sr-only mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Search</label
    >
    <div class="relative">
      <div
        class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
      >
        <svg
          aria-hidden="true"
          class="h-5 w-5 text-gray-500 dark:text-gray-400"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          ></path>
        </svg>
      </div>
      <input
        type="search"
        name="q"
        id="search"
        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-4 pl-10 text-sm text-gray-900 focus:border-orange-500 focus:ring-orange-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-orange-500 dark:focus:ring-orange-500"
        placeholder="Search Tender..."
        required
      />
      <button
        type="submit"
        class="absolute right-2.5 bottom-2.5 rounded-lg bg-orange-700 px-4 py-2 text-sm font-medium text-white hover:bg-orange-800 focus:outline-none focus:ring-4 focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800"
      >
        Search
      </button>
    </div>
  </form>
  <!-- filter -->
  <%= render "tender_filter" %>
</div>

<!-- p2 trending tenders -->
  <div class="bg-red-800 h-7 overflow-hidden">
    <p class="moving-text text-gray-100">Trending Tenders for Independent Entrepreneurs, Businesses, Industries, Schools, Colleges, Institutions, Universities, NGOs, Traders, Suppliers, Professionals &  Government Organizations</p>
  </div>

  <marquee class="bg-red-800 h-8"><p class="text-gray-100">Trending Tenders for Independent Entrepreneurs, Businesses, Industries, Schools, Colleges, Institutions, Universities, NGOs, Traders, Suppliers, Professionals &  Government Organizations</p></marquee>

  <div class="md:grid md:grid-cols-3 pt-12 px-12 mx-auto max-w-6xl">
    <div class="md:col-span-2">

      <!-- <h4 class="text-lg font-bold flex justify-center pb-4 ml7"><span class="text-wrapper"><span class="letters">Trending Tenders of the Day (<%= DateTime.now.strftime("%d/%m/%Y %H:%M") %>)</span></span></h4> -->
      <h4 class="mx-auto mb-6 font-bold text-red-800 rounded-lg tlt text-lg font- flex justify-center ml7 w-fit px-4" style="">
        <ul class="texts">
          <li data-out-effect="fadeOut" data-out-shuffle="true">Trending Tenders of the Day (<%= DateTime.now.strftime("%d/%m/%Y %H:%M") %>)</li>
          <!-- <li data-in-effect="fadeIn">Trending Tenders of the Day (<%= DateTime.now.strftime("%d/%m/%Y %H:%M") %>)</li> -->
        </ul>
      </h4>

      <div class="md:grid md:grid-cols-3 flex flex-col items-center space-y-1">
        <div class="h-full p-2">
          <a
            href="<%= search_path(q: 'Empanelment') %>"
            class="w-full md:h-full inline-flex items-center rounded-lg bg-orange-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-orange-800 focus:outline-none focus:ring-4 focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800"
          >
          Empanelment
            <svg
              aria-hidden="true"
              class="ml-2 -mr-1 h-4 w-4"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>
        </div>
        <div class="h-full p-2">
          <a
            href="<%= search_path(q: 'Request for Proposal') %>"
            class=" md:w-full md:h-full inline-flex items-center rounded-lg bg-orange-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-orange-800 focus:outline-none focus:ring-4 focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800"
          >
            Request for Proposal (RFP)
            <svg
              aria-hidden="true"
              class="ml-2 -mr-1 h-4 w-4"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>
        </div>
        <div class="h-full p-2">
          <a
            href="<%= search_path(q: 'Survey') %>"
            class=" md:w-full md:h-full inline-flex items-center rounded-lg bg-orange-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-orange-800 focus:outline-none focus:ring-4 focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800"
          >
          Survey
            <svg
              aria-hidden="true"
              class="ml-2 -mr-1 h-4 w-4"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>
        </div>
        <div class="h-full p-2">
          <a
            href="<%= search_path(q: 'Skill Training') %>"
            class=" md:w-full md:h-full inline-flex items-center rounded-lg bg-orange-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-orange-800 focus:outline-none focus:ring-4 focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800"
          >
            Skill Training
            <svg
              aria-hidden="true"
              class="ml-2 -mr-1 h-4 w-4"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>
        </div>
        <div class="h-full p-2">
          <a
            href="<%= search_path(q: 'Jal Jeevan Mission') %>"
            class=" md:w-full md:h-full inline-flex items-center rounded-lg bg-orange-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-orange-800 focus:outline-none focus:ring-4 focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800"
          >
            Jal Jeevan Mission
            <svg
              aria-hidden="true"
              class="ml-2 -mr-1 h-4 w-4"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>
        </div>
        <div class="h-full p-2">
          <a
            href="<%= search_path(q: 'Expression of Interest') %>"
            class=" md:w-full md:h-full inline-flex items-center rounded-lg bg-orange-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-orange-800 focus:outline-none focus:ring-4 focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800"
          >
            Expression of Interest
            <svg
              aria-hidden="true"
              class="ml-2 -mr-1 h-4 w-4"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>
        </div>
        <div class="h-full p-2">
          <a
            href="<%= search_path(q: 'Swachh Bharat Mission') %>"
            class=" md:w-full md:h-full inline-flex items-center rounded-lg bg-orange-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-orange-800 focus:outline-none focus:ring-4 focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800"
          >
            Swachh Bharat Mission (SBM)
            <svg
              aria-hidden="true"
              class="ml-2 -mr-1 h-4 w-4"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>
        </div>
        <div class="h-full p-2">
          <a
            href="<%= search_path(q: 'Supply') %>"
            class=" md:w-full md:h-full inline-flex items-center rounded-lg bg-orange-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-orange-800 focus:outline-none focus:ring-4 focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800"
          >
            Supply
            <svg
              aria-hidden="true"
              class="ml-2 -mr-1 h-4 w-4"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>
        </div>
        <div class="h-full p-2">
          <a
            href="<%= search_path(q: 'Manpower') %>"
            class=" md:w-full md:h-full inline-flex items-center rounded-lg bg-orange-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-orange-800 focus:outline-none focus:ring-4 focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800"
          >
            Manpower
            <svg
              aria-hidden="true"
              class="ml-2 -mr-1 h-4 w-4"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>
        </div>
        <div class="h-full p-2">
          <a
            href="<%= search_path(q: 'housekeeping') %>"
            class=" md:w-full md:h-full inline-flex items-center rounded-lg bg-orange-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-orange-800 focus:outline-none focus:ring-4 focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800"
          >
            Housekeeping
            <svg
              aria-hidden="true"
              class="ml-2 -mr-1 h-4 w-4"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="md:col-span-1 space-y-2 md:pl-6">
      <div class="text-2xl font-bold text-center mb-6">Tenders for Profit</div>
      <a class="text-lg block hover:underline hover:underline-offset-2" href="<%= tenders_by_state_path %>">⭐ Tenders By State</a>
      <a class="text-lg block hover:underline hover:underline-offset-2" href="<%= tenders_by_sector_path %>">⭐ Tenders By Sector</a>
      <a class="text-lg block hover:underline hover:underline-offset-2">⭐ Tenders By Classification</a>
    </div>

  </div>
<!--    p2-->


</div>
<%= render 'layouts/footer' %>
