<% title "#{@tender_data.title.capitalize}" %>
<% description "sigmatenders.com is a tender portal specifically designed for independent entrepreneurs/ Business houses/ industries and  non-government organizations (NGOs) to get Realtime notifications of potential opportunities for their enterprise" %>
<% keywords "sigma tenders, ngo service tenders, #{@tender_data.title.capitalize}, #{@tender_data.organisation}" %>
<% set_meta_tags og: {
  title: @tender_data.title.capitalize,
  type: "website",
  url: "#{Rails.application.config.site_url}/tender/#{@tender_data.slug_uuid}",
} %>
<%= render 'layouts/navbar' %>

<div class="text-gray-800 lg:pt-2 xl:px-36">
  <!--header-->

  <!-- content -->
  <div class="mx-8 my-12">

    <div class="">
      <h3 class="my-8 text-xl font-semibold">Tender Details</h3>
      <div class="lg:grid grid-cols-12 gap-x-8">
        <div class="relative col-span-8 overflow-x-auto">
          <table
            class="w-full overflow-hidden text-left text-sm text-gray-500 dark:text-gray-400 sm:rounded-lg"
          >
            <thead
              class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400"
            >
            <tr>
              <th scope="col" class="py-3 px-6">Particulars</th>
              <th scope="col" class="py-3 px-6">Details</th>
            </tr>
            </thead>
            <tbody>
            <tr
              class="border-b bg-white dark:border-gray-700 dark:bg-gray-800"
            >
              <th
                scope="row"
                class="whitespace-nowrap py-4 px-6 font-medium text-gray-900 dark:text-white"
              >
                Title
              </th>
              <td class="py-4 px-6 select-none flex">
                <% if User.can_fully_view_tender(current_user) or !is_tender_id?(@tender_data.title) %>
                  <%= @tender_data.title.capitalize %>
                <% else %>
                  <p class="blur-md select-none">AAAAAAAAAA</p>
                  <%= render 'plan_to_view_tender' %>
                <% end %>
              </td>
            </tr>
            <tr
              class="border-b bg-white dark:border-gray-700 dark:bg-gray-800"
            >
              <th
                scope="row"
                class="whitespace-nowrap py-4 px-6 font-medium text-gray-900 dark:text-white"
              >
                Description
              </th>
              <td class="py-4 px-6 select-none"><%= @tender_data.description&.capitalize %></td>
            </tr>
            <tr
              class="border-b bg-white dark:border-gray-700 dark:bg-gray-800"
            >
              <th
                scope="row"
                class="whitespace-nowrap py-4 px-6 font-medium text-gray-900 dark:text-white"
              >
                Organisation
              </th>
              <td class="py-4 px-6"><%= @tender_data.organisation %></td>
            </tr>
            <tr
              class="border-b bg-white dark:border-gray-700 dark:bg-gray-800"
            >
              <th
                scope="row"
                class="whitespace-nowrap py-4 px-6 font-medium text-gray-900 dark:text-white"
              >
                Tender Id
              </th>
              <td class="py-4 px-6 flex">
                <% if User.can_fully_view_tender(current_user) %>
                  <%= @tender_data.tender_id %>
                <% else %>
                  <p class="blur-md select-none">AAAAAAAAAA</p>
                  <%= render 'plan_to_view_tender' %>
                <% end %>
              </td>
            </tr>
            <tr
              class="border-b bg-white dark:border-gray-700 dark:bg-gray-800"
            >
              <th
                scope="row"
                class="whitespace-nowrap py-4 px-6 font-medium text-gray-900 dark:text-white"
              >
                Reference Number
              </th>
              <td class="py-4 px-6 flex">
                <% if User.can_fully_view_tender(current_user) %>
                  <%= @tender_json['TenderReferenceNumber'] || @tender_data.tender_reference_number %>
                <% else %>
                  <p class="blur-md select-none">AAAAAAAAAA</p>
                  <%= render 'plan_to_view_tender' %>
                <% end %>
              </td>
            </tr>
            <tr
              class="border-b bg-white dark:border-gray-700 dark:bg-gray-800"
            >
              <th
                scope="row"
                class="whitespace-nowrap py-4 px-6 font-medium text-gray-900 dark:text-white"
              >
                Tender Fee
              </th>
              <td class="py-4 px-6"><%= currency_format(@tender_data.tender_fee) %></td>
            </tr>
            <tr
              class="border-b bg-white dark:border-gray-700 dark:bg-gray-800"
            >
              <th
                scope="row"
                class="whitespace-nowrap py-4 px-6 font-medium text-gray-900 dark:text-white"
              >
                EMD
              </th>
              <td class="py-4 px-6"><%= currency_format(@tender_data.emd) %></td>
            </tr>
            <tr
              class="border-b bg-white dark:border-gray-700 dark:bg-gray-800"
            >
              <th
                scope="row"
                class="whitespace-nowrap py-4 px-6 font-medium text-gray-900 dark:text-white"
              >
                Tender Value
              </th>
              <td class="py-4 px-6"><%= currency_format(@tender_data.tender_value) %></td>
            </tr>
            <!--              <tr-->
            <!--                class="border-b bg-white dark:border-gray-700 dark:bg-gray-800"-->
            <!--              >-->
            <!--                <th-->
            <!--                  scope="row"-->
            <!--                  class="whitespace-nowrap py-4 px-6 font-medium text-gray-900 dark:text-white"-->
            <!--                >-->
            <!--                  Time Period-->
            <!--                </th>-->
            <!--                <td class="py-4 px-6">730d</td>-->
            <!--              </tr>-->
            <tr
              class="border-b bg-white dark:border-gray-700 dark:bg-gray-800"
            >
              <th
                scope="row"
                class="whitespace-nowrap py-4 px-6 font-medium text-gray-900 dark:text-white"
              >
                Place
              </th>
              <td class="py-4 px-6"><%= @tender_data.state %></td>
            </tr>
            <tr
              class="border-b bg-white dark:border-gray-700 dark:bg-gray-800"
            >
              <th
                scope="row"
                class="whitespace-nowrap py-4 px-6 font-medium text-gray-900 dark:text-white"
              >
                Link
              </th>
              <td class="py-4 px-6 flex">
                <% if User.can_fully_view_tender(current_user) %>
                  <a class="underline underline-offset-2 hover:text-blue-600 force-word-break" target="_blank" rel="nofollow" href="<%= @tender_data.page_link %>"><%= @tender_data.page_link %></a>
                <% else %>
                  <p class="blur-md select-none">AAAAAAAAAA</p>
                  <%= render 'plan_to_view_tender' %>
                <% end %>
              </td>
            </tr>
            <tr
              class="border-b bg-white dark:border-gray-700 dark:bg-gray-800"
            >
              <th
                scope="row"
                class="whitespace-nowrap py-4 px-6 font-medium text-gray-900 dark:text-white"
              >
                End Date
              </th>
              <td class="py-4 px-6 <%= time_left(@tender_data.submission_close_date) >= 0 ? "bg-green-200" : 'bg-red-200' %>">
                <div class="md:flex md:items-center">
                  <p><%= @tender_data.submission_close_date.strftime("%d/%m/%Y") %>
                    ( <%= time_left_text(@tender_data.submission_close_date) %> )
                  </p>
                  <a class="btn-sm inline-block mt-2 md:mt-0 md:ml-10" href="<%= root_path %>">Search Similar
                    tenders?</a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>

          <div class="similar-tenders">
            <div class="text-lg font-bold my-8">Similar Tenders</div>
            <div class="flex justify-center">
              <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <% TendersController.similar_tenders(is_tender_id?(@tender_data.title) ? @tender_data.description : @tender_data.title , @tender_data.id).each do |tender| %>
                  <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="<%= tender_show_path(tender.slug_uuid) %>">
                      <% if is_tender_id?(tender&.title) %>
                        <div class="flex">
                          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white blur-md select-none">AAAAAAAAAA</h5>
                          <%= render 'plan_to_view_tender' %>
                        </div>
                      <% else %>
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= tender&.title %></h5>
                      <% end %>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise
                      technology
                      acquisitions of 2021 so far, in reverse chronological order.</p>
                    <a href="<%= tender_show_path(tender.slug_uuid) %>" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-orange-700 rounded-lg hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">
                      Read more
                      <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                      </svg>
                    </a>
                  </div>

                <% end %>
              </div>
            </div>
          </div>

          <!--Attachments-->
          <%# if user_signed_in? %>
          <% if @tender_data.attachments.present? %>
            <div>
              <h3 class="my-8 text-xl font-semibold">Attachments</h3>

              <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table
                  class="w-full text-left text-sm text-gray-500 dark:text-gray-400"
                >
                  <thead
                    class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400"
                  >
                  <tr>
                    <th scope="col" class="py-3 px-6">S.No.</th>
                    <th scope="col" class="py-3 px-6">File Name</th>
                    <th scope="col" class="py-3 px-6">Download Link</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @tender_data.attachments.each_with_index do |file, index| %>
                    <tr
                      class="border-b bg-white dark:border-gray-700 dark:bg-gray-900"
                    >
                      <th
                        scope="row"
                        class="whitespace-nowrap py-4 px-6 font-medium text-gray-900 dark:text-white"
                      >
                        <%= index + 1 %>
                      </th>
                      <td class="py-4 px-6"><%= file.file_name %></td>
                      <td class="py-4 px-6">
                        <!--                          <a-->
                        <!--                            href="<%#= "https://storage.sigmatenders.com/v1/file/#{file.file_path}" %>"-->
                        <!--                            class="font-medium text-blue-600 hover:underline dark:text-blue-500"-->
                        <!--                          >Download</a>-->
                        <%= render 'layouts/recaptacha' %>
                        <div class="flex">
                          <button
                            class="font-medium text-blue-600 hover:underline dark:text-blue-500 download-btn mr-4"
                            onclick="submitRecaptacha('<%= file.file_path %>')"
                          >Download
                          </button>
                          <div role="status" class="hidden loading-spinner">
                            <svg aria-hidden="true" class="w-5 h-5 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                              <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                            </svg>
                            <span class="sr-only">Loading...</span>
                          </div>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                  <!--            <tr-->
                  <!--              class="border-b bg-white dark:border-gray-700 dark:bg-gray-900"-->
                  <!--            >-->
                  <!--              <th-->
                  <!--                scope="row"-->
                  <!--                class="whitespace-nowrap py-4 px-6 font-medium text-gray-900 dark:text-white"-->
                  <!--              >-->
                  <!--                1-->
                  <!--              </th>-->
                  <!--              <td class="py-4 px-6">NIT.pdf</td>-->
                  <!--              <td class="py-4 px-6">2Mb</td>-->
                  <!--              <td class="py-4 px-6">-->
                  <!--                <a-->
                  <!--                  href="#"-->
                  <!--                  class="font-medium text-blue-600 hover:underline dark:text-blue-500"-->
                  <!--                >Download</a-->
                  <!--                >-->
                  <!--              </td>-->
                  <!--            </tr>-->
                  </tbody>
                </table>
              </div>
            </div>
          <% else %>
            <h3 class="my-8 text-xl font-semibold">No attachments found</h3>
          <% end %>
          <%# else %>
          <!--            <h3 class="my-8 text-xl font-semibold"><a href="<%#= user_session_path %>" class="btn-sm">Log in</a> to view-->
          <!--              attachments</h3>-->
          <%# end %>
          <div class="mt-6">
            <a href="<%= how_to_file_tender_path %>" class="link block">How to file this tender?</a>
            <a href="<%= get_callback_path %>" class="link block mt-4">Request filing assistance</a>
          </div>

        </div>

        <div class="col-span-4 mt-10 lg:mt-0">
          <%= render "get_relevant_tenders_form" %>
        </div>
      </div>
    </div>


  </div>
</div>

<%= render 'layouts/footer' %>

<!--<div class="bg-sky-900 text-white">s</div>-->
