<%= render 'layouts/navbar' %>

<div class="container">
  <ul class="space-y-6">
    <% @items.each do |result| %>
      <li>
        <a href="<%= keyword_tender_path(keyword: result.gsub(' ', '-')) %>" class="btn-sm">Tender
          from <%= result %></a>
      </li>
    <% end %>
  </ul>
  <%= render 'layouts/pagy' %>
</div>

<%= render 'layouts/footer' %>
