<%= render 'layouts/navbar' %>

<div class="container-home refund-policy pt-20 space-y-4">

  <div class="text-center mb-8">
    <p class="font-bold text-xl mb-6">Pricing</p>
  </div>
  <div class="pricing-container grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mx-auto">
    <div class="pricing-card">
      <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <h5 class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">Standard plan<br/>(3 Month)</h5>
        <div class="flex items-baseline text-gray-900 dark:text-white">
          <span class="text-3xl font-semibold">₹</span>
          <span class="text-5xl font-extrabold tracking-tight">1999</span>
          <span class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400"></span>
        </div>
        <ul role="list" class="space-y-5 my-7">
          <%= render 'home/pricing/pricing-features' %>
        </ul>
        <a href="https://rzp.io/i/kFFS1CSQwr" target="_blank">
          <button type="button" class="text-white bg-orange-600 hover:bg-orange-700 focus:ring-4 focus:outline-none focus:ring-orange-200 dark:focus:ring-orange-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center">Choose
            plan
          </button>
        </a>
      </div>
    </div>

    <div class="pricing-card">
      <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <h5 class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">Standard plan<br/>(6 Month)</h5>
        <div class="flex items-baseline text-gray-900 dark:text-white">
          <span class="text-3xl font-semibold">₹</span>
          <span class="text-5xl font-extrabold tracking-tight">3999</span>
          <span class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400"></span>
        </div>
        <ul role="list" class="space-y-5 my-7">
          <%= render 'home/pricing/pricing-features' %>
        </ul>
        <a href="https://rzp.io/i/yuimn8r" target="_blank">
          <button type="button" class="text-white bg-orange-600 hover:bg-orange-700 focus:ring-4 focus:outline-none focus:ring-orange-200 dark:focus:ring-orange-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center">Choose
            plan
          </button>
        </a>
      </div>
    </div>

    <div class="pricing-card">
      <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <h5 class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">Standard plan<br/>(12 Month)</h5>
        <div class="flex items-baseline text-gray-900 dark:text-white">
          <span class="text-3xl font-semibold">₹</span>
          <span class="text-5xl font-extrabold tracking-tight">5999</span>
          <span class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400"></span>
        </div>
        <ul role="list" class="space-y-5 my-7">
          <%= render 'home/pricing/pricing-features' %>
        </ul>
        <a href="https://rzp.io/i/I2NY9gtRgQ" target="_blank">
          <button type="button" class="text-white bg-orange-600 hover:bg-orange-700 focus:ring-4 focus:outline-none focus:ring-orange-200 dark:focus:ring-orange-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center">Choose
            plan
          </button>
        </a>
      </div>
    </div>

    <div class="pricing-card">
      <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <h5 class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">Standard plan<br/>(24 Month)</h5>
        <div class="flex items-baseline text-gray-900 dark:text-white">
          <span class="text-3xl font-semibold">₹</span>
          <span class="text-5xl font-extrabold tracking-tight">9997</span>
          <span class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400"></span>
        </div>
        <ul role="list" class="space-y-5 my-7">
          <%= render 'home/pricing/pricing-features' %>
        </ul>
        <a href="https://rzp.io/i/IWeU2jYf9" target="_blank">
          <button type="button" class="text-white bg-orange-600 hover:bg-orange-700 focus:ring-4 focus:outline-none focus:ring-orange-200 dark:focus:ring-orange-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center">Choose
            plan
          </button>
        </a>
      </div>
    </div>


  </div>

  <div>
    <div class="text-center text-xl font-bold my-8">Instructions for Payment</div>
    <li>Ensure that you have completed the registration process on our website</li>
    <li>If you haven't already, submit your registered email ID to our WhatsApp number +91 8076222021 for assistance message us or call us.</li>
    <li>Make a secure payment through Razorpay as per your chosen plan.</li>
    <li>Keep a screenshot of the payment success as proof.</li>
    <li>If necessary, you may request for direct payment to our Bank Account through WhatsApp; our team will provide you with the company bank account details.</li>
    <p class="mt-4">Once we receive your payment proof and user ID, we will activate your paid account, granting you full access to our tender portal resources. Should you require any further assistance, feel free to contact us at tendermasterinfo@gmail.com or via WhatsApp at +91 8076222021.</p>
  </div>

  <p class="font-bold">Paid Subscription services</p>
  <ul class="space-y-1 list-disc">
    <ul class="space-y-1 list-disc">
      <li>Standard Subscription
        <ul class="space-y-1 list-disc ml-6">
          <li>Annual Package: Access to the portal's comprehensive features and services for a year.</li>
          <li>Price: Rs.5,999/- per year.
            <a href="https://sigmatenders.com/get-callback" class="underline underline-offset-2 text-orange-600">sigmatenders.com/get-callback</a>
          </li>
        </ul>
      </li>
<!--      <li>2. Privileged Subscriptions-->
<!--        <ul class="space-y-1 list-disc ml-6">-->
<!--          <li>Promotional Coupons: Exclusive access offered to specific groups, including startups, NGOs, CSR companies-->
<!--            and donors engaged in our social campaign & charities listed. Duration: 12 months of free access***. Upon-->
<!--            successful signups & supports confirmation by Empanelled partner NGOs onboarded on a drive supported by-->
<!--            sigmatenders.com. for further details and offers visit:-->
<!--            <a href="https://trustngoprojects.org/tech-gap/" class="underline underline-offset-2 text-orange-600">trustngoprojects.org/tech-gap</a>-->
<!--            or-->
<!--            <a href="https://sigmatenders.com/get-callback" class="underline underline-offset-2 text-orange-600">sigmatenders.com/get-callback</a>-->
<!--            <ul class="space-y-1 list-disc ml-6">-->
<!--              <li>Redemption: These privileged groups can redeem special coupons provided by our campaign to avail-->
<!--                themselves of this extended access.-->
<!--              </li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li>-->
<!--            Limited-time free access for one month.-->
<!--            <a href="https://forms.gle/2VZ4CvvcrtuvAgrB9" class="underline underline-offset-2 text-orange-600">Click to-->
<!--              Apply</a>-->
<!--            Or Request for access code at: Email: tendermasterinfo@gmail.com-->
<!--            <ul class="space-y-1 list-disc ml-6">-->
<!--              <li>Eligibility: Available for individuals or organizations interested in testing the platform.</li>-->
<!--              <li>Purpose: Allows users to experience the platform's functionality before subscribing.</li>-->
<!--            </ul>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>-->
    </ul>

  </ul>
  <p>Custom Support Services as mutual Agreed terms & Charges. contact:</p>
  <p>tendermasterinfo@gmail.com</p>
  <p>Sigma Certification Services Pvt Limited</p>
  <p>310, Wadhwa Complex, D-288-289/10, Laxmi Nagar, Delhi – 110092 India</p>
  <div class="flex items-center">
    <p>For Sales Enquiry: </p>
    <a href="<%= get_callback_path %>" class="btn-sm block w-fit ml-4">Request a callback</a>
  </div>

  <div class="text-center mb-8 mt-48">
    <p class="font-bold text-lg">Custom Premium Services Offered</p>
    <p>Business Support Services & Subscriptions</p>
  </div>
  <p class="font-bold">Details of Business Services</p>
  <ul class="space-y-1 list-disc list-inside">
    <li>B2B (Business-to-Business) Services: Providing services to businesses to help them participate in tender
      processes and manage the bidding process effectively.
    </li>
    <li>B2G (Business-to-Government) Services: Providing services to government organizations to manage the tender
      process, including the publishing of tender notices, and receiving bids.
    </li>
    <li>Subscription-based Model: Offering paid subscriptions to independent entrepreneurs, businesses, industries,
      schools, colleges, Institutions, universities, NGOs, traders, suppliers, professionals, and government
      organizations to access the tender portal and its features.
    </li>
    <li>Baseline surveys/ Market research and Data Analytics: Using data analytics to provide valuable insights to
      businesses and government organizations on tender processes and trends.
    </li>
    <li>Business set up and professional support services for meeting various compliances</li>
    <li>Digital signature certificates (DSC) solutions</li>
    <li>Networking with business houses for contracts and subcontracts</li>
  </ul>


</div>

<%= render 'layouts/footer' %>
