
<%= render 'layouts/navbar' %>
<div class="mx-8 my-12 lg:pt-2 xl:px-36">
  <!--  <h2 class="text-3xl text-center my-28">Coming Soon</h2>-->
  <ul>
    <li><a class="text-lg block" href="/state/<%= "Andhra Pradesh".gsub(' ', '-')%>">Andhra Pradesh</a></li>
    <li><a class="text-lg block" href="/state/<%= "Arunachal Pradesh".gsub(' ', '-')%>">Arunachal Pradesh</a></li>
    <li><a class="text-lg block" href="/state/<%= "Assam".gsub(' ', '-') %>">Assam</a></li>
    <li><a class="text-lg block" href="/state/<%= "Bihar".gsub(' ', '-') %>">Bihar</a></li>
    <li><a class="text-lg block" href="/state/<%= "Chhattisgarh".gsub(' ', '-') %>">Chhattisgarh</a></li>
    <li><a class="text-lg block" href="/state/<%= "Goa".gsub(' ', '-') %>">Goa</a></li>
    <li><a class="text-lg block" href="/state/<%= "Gujarat".gsub(' ', '-') %>">Gujarat</a></li>
    <li><a class="text-lg block" href="/state/<%= "Haryana".gsub(' ', '-') %>">Haryana</a></li>
    <li><a class="text-lg block" href="/state/<%= "Himachal Pradesh".gsub(' ', '-') %>">Himachal Pradesh</a></li>
    <li><a class="text-lg block" href="/state/<%= "Jharkhand".gsub(' ', '-') %>">Jharkhand</a></li>
    <li><a class="text-lg block" href="/state/<%= "Karnataka".gsub(' ', '-') %>">Karnataka</a></li>
    <li><a class="text-lg block" href="/state/<%= "Kerala".gsub(' ', '-') %>">Kerala</a></li>
    <li><a class="text-lg block" href="/state/<%= "Madhya Pradesh".gsub(' ', '-') %>">Madhya Pradesh</a></li>
    <li><a class="text-lg block" href="/state/<%= "Maharashtra".gsub(' ', '-') %>">Maharashtra</a></li>
    <li><a class="text-lg block" href="/state/<%= "Manipur".gsub(' ', '-') %>">Manipur</a></li>
    <li><a class="text-lg block" href="/state/<%= "Meghalaya".gsub(' ', '-') %>">Meghalaya</a></li>
    <li><a class="text-lg block" href="/state/<%= "Mizoram".gsub(' ', '-') %>">Mizoram</a></li>
    <li><a class="text-lg block" href="/state/<%= "Nagaland".gsub(' ', '-') %>">Nagaland</a></li>
    <li><a class="text-lg block" href="/state/<%= "Odisha".gsub(' ', '-') %>">Odisha</a></li>
    <li><a class="text-lg block" href="/state/<%= "Punjab".gsub(' ', '-') %>">Punjab</a></li>
    <li><a class="text-lg block" href="/state/<%= "Rajasthan".gsub(' ', '-') %>">Rajasthan</a></li>
    <li><a class="text-lg block" href="/state/<%= "Sikkim".gsub(' ', '-') %>">Sikkim</a></li>
    <li><a class="text-lg block" href="/state/<%= "Tamil Nadu".gsub(' ', '-') %>">Tamil Nadu</a></li>
    <li><a class="text-lg block" href="/state/<%= "Telangana".gsub(' ', '-') %>">Telangana</a></li>
    <li><a class="text-lg block" href="/state/<%= "Tripura".gsub(' ', '-') %>">Tripura</a></li>
    <li><a class="text-lg block" href="/state/<%= "Uttar Pradesh".gsub(' ', '-') %>">Uttar Pradesh</a></li>
    <li><a class="text-lg block" href="/state/<%= "Uttarakhand".gsub(' ', '-') %>">Uttarakhand</a></li>
    <li><a class="text-lg block" href="/state/<%= "West Bengal".gsub(' ', '-') %>">West Bengal</a></li>
    <li><a class="text-lg block" href="/state/<%= "Andaman and Nicobar Islands".gsub(' ', '-') %>">Andaman and Nicobar Islands</a></li>
    <li><a class="text-lg block" href="/state/<%= "Chandigarh".gsub(' ', '-') %>">Chandigarh</a></li>
    <li><a class="text-lg block" href="/state/<%= "Dadra and Nagar Haveli and Daman and Diu".gsub(' ', '-') %>">Dadra and Nagar Haveli and Daman and Diu</a></li>
    <li><a class="text-lg block" href="/state/<%= "Delhi".gsub(' ', '-') %>">Delhi</a></li>
    <li><a class="text-lg block" href="/state/<%= "Jammu and Kashmir".gsub(' ', '-') %>">Jammu and Kashmir</a></li>
    <li><a class="text-lg block" href="/state/<%= "Ladakh".gsub(' ', '-') %>">Ladakh</a></li>
    <li><a class="text-lg block" href="/state/<%= "Lakshadweep".gsub(' ', '-') %>">Lakshadweep</a></li>
    <li><a class="text-lg block" href="/state/<%= "Puducherry".gsub(' ', '-') %>">Puducherry</a></li>

  </ul>


</div>

<%= render 'layouts/footer' %>
