
<%= render 'layouts/navbar' %>
<div class="mx-8 my-12 lg:pt-2 xl:px-36">
  <!--  <h2 class="text-3xl text-center my-28">Coming Soon</h2>-->
  <ul>

    <li><a class="text-lg block" href="/sector/<%= "Central Government".gsub(' ', '-') %>">Central Government</a></li>
    <li><a class="text-lg block" href="/sector/<%= "Defence".gsub(' ', '-') %>">Defence</a></li>
    <li><a class="text-lg block" href="/sector/<%= "Co-operatives".gsub(' ', '-') %>">Co-operatives</a></li>
    <li><a class="text-lg block" href="/sector/<%= "Corporations".gsub(' ', '-') %>">Corporations</a></li>
    <li><a class="text-lg block" href="/sector/<%= "Railway".gsub(' ', '-') %>">Railway</a></li>
    <li><a class="text-lg block" href="/sector/<%= "School & Colleges".gsub(' ', '-') %>">School & Colleges</a></li>
    <li><a class="text-lg block" href="/sector/<%= "Associations".gsub(' ', '-') %>">Associations</a></li>
    <li><a class="text-lg block" href="/sector/<%= "Joint sector Semi-Government".gsub(' ', '-') %>">Joint sector Semi-Government</a></li>
    <li><a class="text-lg block" href="/sector/<%= "Universities".gsub(' ', '-') %>">Universities</a></li>
    <li><a class="text-lg block" href="/sector/<%= "Research Institute".gsub(' ', '-') %>">Research Institute</a></li>
    <li><a class="text-lg block" href="/sector/<%= "State Government".gsub(' ', '-') %>">State Government</a></li>
    <li><a class="text-lg block" href="/sector/<%= "Private sector".gsub(' ', '-') %>">Private sector</a></li>
    <li><a class="text-lg block" href="/sector/<%= "Trust".gsub(' ', '-') %>">Trust</a></li>
    <li><a class="text-lg block" href="/sector/<%= "Bank".gsub(' ', '-') %>">Bank</a></li>
    <li><a class="text-lg block" href="/sector/<%= "Railway".gsub(' ', '-') %>">Railway</a></li>
    <li><a class="text-lg block" href="/sector/<%= "PSU".gsub(' ', '-') %>">PSU</a></li>

  </ul>

</div>

<%= render 'layouts/footer' %>
