<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: "Ngo Tenders" %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "textillate/assets/animate", "data-turbo-track": "reload" %>
<!--    <link rel="stylesheet" href="https://cdn.simplecss.org/simple-v1.css">-->
    <%= render 'layouts/google' %>
    <%= javascript_importmap_tags %>
<!--    node_modules-->
    <%= javascript_include_tag "flowbite/dist/flowbite.min" %>
    <%= javascript_include_tag "jquery/dist/jquery.min" %>
    <%= javascript_include_tag "letteringjs/jquery.lettering.js" %>
    <%= javascript_include_tag "textillate/jquery.textillate" %>
  </head>

  <body class="">
    <main class="">
      <%= yield %>
    </main>
  </body>
</html>
